<div class="input-header">
    <app-icon [iconComponentConfig]="headerIconConfig" />
    <span class="primary-heading-bs">{{inputConfig().inputHeaderText}}</span>
</div>
<div class="input-content">
    @if(inputConfig().inputContentIcon) {
        <app-icon [iconComponentConfig]="contentIconConfig" />
    }
    <input 
    matInput 
    [type]="inputConfig().inputContentType" 
    [ngModel]="inputValue"
    (ngModelChange)="onValueChange($event)"
    [placeholder]="inputConfig().inputContentPlaceholder"
    >
</div>
