:root {
  --purple-500: #8b5cf6;
  --purple-700: #6d28d9;

  --blue-600: #2563eb;
  --blue-800: #1e40af;

  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;

  --green-400: #4ade80;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-900: #065f46;

  --amber-400: #fbbf24;
  --orange-500: #f97316;
  --orange-600: #d97706;
  --orange-700: #c2410c;

  --cyan-500: #06b6d4;
  --cyan-700: #0e7490;

  --red-500: #ef4444;
  --red-700: #b91c1c;

  --rose-600: #e11d48;
  --rose-700: #be123c;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e9d5ff;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --black-soft: #0c0a09;

  --violet-50: #faf5ff;
  --blue-50: #eff6ff;

  --purple-700-30: rgba(109, 40, 217, 0.3);
  --blue-800-30: rgba(30, 64, 175, 0.3);
}