:root {
    --heading-fs-1: 48px;
    --heading-w-1: 700;
    --heading-lw-1: 1.2;

    --heading-fs-2: 36px;
    --heading-w-2: 700;
    --heading-lw-2: 1.2;

    --heading-fs-3: 24px;
    --heading-w-3: 600;
    --heading-lw-3: 1.3;

    --headering-fs-4: 20px;
    --heading-w-4: 600;
    --heading-lw-4: 1.4;

    --heading-fs-body-large: 18px;
    --heading-w-body-large: 400;
    --heading-lw-body-large: 1.5;

    --headeing-fs-body-medium: 16px;
    --heading-w-body-medium: 400;
    --heading-lw-body-medium: 1.5;

    --heading-fs-body-small: 14px;
    --heading-w-body-small: 400;
    --heading-lw-body-small: 1.5;

    --spacing-scale-xs: 8px;
    --spacing-scale-sm: 12px;
    --spacing-scale-md: 16px;
    --spacing-scale-lg: 24px;
    --spacing-scale-xl: 32px;
    --spacing-scale-xxl: 48px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-xxl: 20px;
}