@use "colors";

:root {
  --homepage-background: linear-gradient(to bottom right,
    var(--gray-50),
    var(--violet-50),
    var(--blue-50)
  );

  --card-background: var(--gray-100);
  --card-border: 1px solid var(--gray-100);

  --hover-state: linear-gradient(to right,
    var(--violet-50),
    var(--blue-50)
  );

  --input-background: linear-gradient(to right,
    var(--violet-50),
    var(--blue-50)
  );

  --input-border: 2px solid var(--gray-200);

  --month-buget-card: linear-gradient(to bottom right,
    var(--purple-500),
    var(--blue-600)
  );

  --daily-buget-card: linear-gradient(to bottom right,
    var(--amber-400),
    var(--orange-500)
  );

  --primary-text: var(--gray-900);
  --secondary-text: var(--gray-600);
  --ternary-text: var(--gray-500);
  --disabled-text: var(--gray-300);

  --primary-gradient: linear-gradient(to bottom right,
    var(--purple-500),
    var(--blue-600)
  );

  --secondary-gradient: linear-gradient(to bottom right,
    var(--indigo-500),
    var(--purple-500)
  );

  --success-gradient: linear-gradient(to bottom right,
    var(--green-400),
    var(--emerald-600)
  );

  --warning-gradient: linear-gradient(to bottom right,
    var(--amber-400),
    var(--orange-500)
  );

  --danger-gradient: linear-gradient(to bottom right,
    var(--red-500),
    var(--rose-600)
  );

  --info-gradient: linear-gradient(to bottom right,
    var(--cyan-500),
    var(--blue-600)
  );
}


.dark {
  --homepage-background: linear-gradient(to bottom right,
    var(--gray-900),
    var(--gray-900),
    var(--black-soft)
  );

  --card-background: var(--gray-800);
  --card-border: 1px solid var(--gray-700);

  --hover-state: var(--gray-700);

  --input-background: linear-gradient(to right,
    var(--purple-700-30),
    var(--blue-800-30)
  );

  --input-border: 2px solid var(--purple-700);

  --month-buget-card: linear-gradient(to bottom right,
    var(--purple-700),
    var(--blue-800)
  );

  --daily-buget-card: linear-gradient(to bottom right,
    var(--orange-600),
    var(--orange-700)
  );

  --primary-text: var(--gray-100);
  --secondary-text: var(--gray-400);
  --ternary-text: var(--gray-500);
  --disabled-text: var(--gray-600);

  --primary-gradient: linear-gradient(to bottom right,
    var(--purple-700),
    var(--blue-800)
  );

  --secondary-gradient: linear-gradient(to bottom right,
    var(--indigo-600),
    var(--purple-700)
  );

  --success-gradient: linear-gradient(to bottom right,
    var(--emerald-700),
    var(--emerald-900)
  );

  --warning-gradient: linear-gradient(to bottom right,
    var(--orange-600),
    var(--orange-700)
  );

  --danger-gradient: linear-gradient(to bottom right,
    var(--red-700),
    var(--rose-700)
  );

  --info-gradient: linear-gradient(to bottom right,
    var(--cyan-700),
    var(--blue-800)
  );
}