@use "mixins" as mx;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { box-sizing: border-box; }
html, body { height: 100%; }
body {
  padding: 60px 32px;
  background:  var(--homepage-background);
  @include mx.mediaQueryMixin('desktop') { padding: 48px 32px; }
}

app-root {
  display: block;
  height: 100%;
}