:root {
  --bg-light-mode: #F1FFF3;
  --bg-dark-mode: #031314;
  --bg-dark-mode-green-bar: #093030;
  --bg-dark-mode-green-black: #052224;
  
  --text-dark-mode: #F1FFF3;
  --text-dark-mode-secondary: #00D09E;
  --text-light-mode: #093030;
  
  --icon-dark-mode: #0A3C3C;

  --main-green: #00D09E;
  --light-green: #DFF7E2;
  
  --btn-light-blue: #6DB6FE;
  --btn-blue: #3299FF;
  --btn-ocean-blue: #0068FF;
}