@use '../../../../styles/mixins' as mx;
@use '../../../../styles/dimensions' as d;

.dialog-header {
    background: var(--secondary-gradient);
    width: 100%;
    padding: 20px;
    border-radius: d.$border-radius-xl d.$border-radius-xl 0px 0px;
    @include mx.displayMixin(flex, column, flex-start, flex-start, 5px);

    &__top {
        @include mx.displayMixin(flex, row, space-between, center);
        width: 100%;

        ::ng-deep app-button .button-container { padding: 0px !important;}
    }
}

.dialog-content {
    background: var(--card-background);
    width: 100%;
    padding: 40px 20px;

    ::ng-deep [dialog-content] app-first-step,
    ::ng-deep [dialog-content] app-second-step,
    ::ng-deep [dialog-content] app-third-step {
        @include mx.displayMixin(flex, column, flex-start, flex-start, 15px);
        @include mx.widthHeightMixin(100%, 100%);
    }
}

.dialog-footer {
    background: var(--homepage-background);
    width: 100%;
    border-radius: 0px 0px d.$border-radius-xl d.$border-radius-xl;
    padding: 20px;

    ::ng-deep [dialog-footer] {
        @include mx.displayMixin(flex, row, space-around, flex-start);
    }
}