$box-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
$box-shadow-xlarge: 0 20px 25px -5px rgba(0, 0, 0, 0.1);