<article class="budget-card" [class]="'budget-card--' + budgetBucket().category">
  <div class="budget-card__top">
    <span class="budget-card__icon">
      {{ budgetBucket().icon }}
    </span>
    <small class="budget-card__percentage"> {{ budgetBucket().percentage }}% </small>
  </div>
  <h2 class="budget-card__title">
    {{ budgetBucket().label }}
  </h2>
  <p class="budget-card__description">
    {{ budgetBucket().description }}
  </p>
  <strong class="budget-card__amount">
    {{ moneyFormatterService.format(budgetBucket().amount) }}
  </strong>
  <div class="budget-card__progress">
    <span [style.width.%]="budgetBucket().progress"></span>
  </div>
  <small class="budget-card__footer">
    {{ moneyFormatterService.format(budgetBucket().spent) }} {{ budgetBucket().actionLabel }} ·
    {{ budgetBucket().progress }}%
  </small>
</article>
