<app-icon [iconComponentConfig]="iconConfig" />
<span class="primary-heading-2">
    Money Manager
</span>
<span class="secondary-heading-bl">
    Monthly budget based on your income
</span>
<app-button [buttonConfig]="createBudgetbuttonConfig" />
<span class="ternary-heading-bs">
    Set your monthly budget and daily spending goal
</span>

<!-- <app-dialog [dialogConfig]="dialogConfig">
    <div dialog-header>
        <span>Step 1 of 3</span>
        <mat-progress-bar mode="determinate" value="99" />
    </div>
    <div dialog-content>
        <span class="primary-heading-4">Set Your Monthly Budget</span>
        <span class="ternary-heading-br">Enter your monthly income sources</span>
        <app-input [inputConfig]="inputCashIncomeConfig" />
        <app-input [inputConfig]="inputTicketsConfig" />
        <app-input [inputConfig]="inputBasedIncomeConfig" />
        <app-card [cardConfig]="totalMonthlyCardConfig" />
    </div>
    <div dialog-footer>
        <app-button [buttonConfig]="continueButtonConfig" />
    </div>
</app-dialog> -->

<!-- <app-dialog [dialogConfig]="dialogConfig">
    <div dialog-header>
        <span>Step 2 of 3</span>
        <mat-progress-bar mode="determinate" value="99" />
    </div>
    <div dialog-content>
        <span class="primary-heading-4">Select Budget Period</span>
        <span class="ternary-heading-br">Choose the month for this budget</span>
        <app-input [inputConfig]="inputSelectPeriodConfig" />
        <app-card [cardConfig]="infoSelectBugetCardConfig" />
    </div>
    <div dialog-footer>
        <app-button [buttonConfig]="backButtonConfig" />
        <app-button [buttonConfig]="continueButtonConfig" />
    </div>
</app-dialog> -->

<!-- <app-dialog [dialogConfig]="dialogConfig">
    <div dialog-header>
        <span>Step 3 of 3</span>
        <mat-progress-bar mode="determinate" value="99" />
    </div>
    <div dialog-content>
        <span class="primary-heading-4">Set Daily Budget</span>
        <span class="ternary-heading-br">How much do you plan to spend per day?</span>
        <app-input [inputConfig]="dailySpendInputConfig" />
        <app-card [cardConfig]="suggestedBugetCardConfig" />
    </div>
    <div dialog-footer>
        <app-button [buttonConfig]="backButtonConfig" />
        <app-button [buttonConfig]="continueFinalButtonConfig" />
    </div>
</app-dialog> -->
