@if(!isDialogOpen()) {
    <app-icon [iconComponentConfig]="iconConfig" />
    <span class="primary-heading-2">
        Money Manager
    </span>
    <span class="secondary-heading-bl">
        Monthly budget based on your income
    </span>
    <app-button [buttonConfig]="createBudgetbuttonConfig" />
    <span class="ternary-heading-bs">
        Set your monthly budget and daily spending goal
    </span>
}

@if(isDialogOpen()) {
    <app-dialog [dialogConfig]="dialogConfig">
        <div dialog-header>
            <span>Step {{ currentStep() }} of 3</span>
            <mat-progress-bar mode="determinate" [value]="progressValue" />
        </div>
        <div dialog-content>
            @switch (currentStep()) {
                @case (DashboardSetupSteps.FIRST) { <app-first-step /> }
                @case (DashboardSetupSteps.SECOND) { <app-second-step /> }
                @case (DashboardSetupSteps.THIRD) { <app-third-step /> }
            }
        </div>
        <div dialog-footer>
            @if (currentStep() > DashboardSetupSteps.FIRST) { <app-button [buttonConfig]="backButtonConfig" /> }
            <app-button [buttonConfig]="currentStep() === DashboardSetupSteps.THIRD ? continueFinalButtonConfig : continueButtonConfig" />
        </div>
    </app-dialog>
}