@if(!dashboardSetupService.isDialogOpen()) {
    <app-icon [iconComponentConfig]="iconConfig" />
    <span class="primary-heading-2">
        Money Manager
    </span>
    <span class="secondary-heading-bl">
        Monthly budget based on your income
    </span>
    <app-button [buttonConfig]="createBudgetbuttonConfig" />
    <span class="ternary-heading-bs">
        Set your monthly budget and daily spending goal
    </span>
}

@if(dashboardSetupService.isDialogOpen()) {
    <app-dialog 
    [dialogConfig]="dialogConfig"
    >
        <div dialog-header>
            <span class="primary-heading-bs">Step {{ dashboardSetupService.currentStep() }} of 3</span>
            <mat-progress-bar mode="determinate" [value]="dashboardSetupService.progressValue()" />
        </div>
        <div dialog-content>
            @switch (dashboardSetupService.currentStep()) {
                @case (dashboardSetupService.DashboardSetupSteps.FIRST) { <app-first-step /> }
                @case (dashboardSetupService.DashboardSetupSteps.SECOND) { <app-second-step /> }
                @case (dashboardSetupService.DashboardSetupSteps.THIRD) { <app-third-step /> }
            }
        </div>
        <div dialog-footer>
            @if (dashboardSetupService.currentStep() > dashboardSetupService.DashboardSetupSteps.FIRST) { <app-button [buttonConfig]="backButtonConfig" /> }
            <app-button [buttonConfig]="dashboardSetupService.currentStep() === dashboardSetupService.DashboardSetupSteps.THIRD ? finalButtonConfig : continueButtonConfig" />
        </div>
    </app-dialog>
}