@use '../../../styles/dimensions' as d;
@use '../../../styles/helpers' as h;
@use '../../../styles/mixins' as mx;

.button-container {
    padding: 6px 24px 6px 12px;
    border-radius: d.$border-radius-lg;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
    @include mx.displayMixin(inline-flex, row, center, center);

    &:hover { box-shadow: h.$box-shadow-large; }
}