<div
[style.width.px]="iconComponentConfig().containerWidth"
[style.height.px]="iconComponentConfig().containerHeight"
[style.background]="iconComponentConfig().containerColor"
>
    <mat-icon 
    aria-hidden="false" 
    aria-label="start-dashboard-wallet-icon" 
    [fontIcon]="iconComponentConfig().iconName"
    [style.width.px]="iconComponentConfig().iconSize"
    [style.height.px]="iconComponentConfig().iconSize"
    [style.font-size.px]="iconComponentConfig().iconSize"
    [style.color]="iconComponentConfig().iconColor" 
    />
</div>
