<div class="app-decorations" aria-hidden="true">
  <span class="app-decorations__orb app-decorations__orb--blue"></span>
  <span class="app-decorations__orb app-decorations__orb--pink"></span>
  <span class="app-decorations__orb app-decorations__orb--green"></span>

  <span class="app-decorations__petal app-decorations__petal--one"></span>
  <span class="app-decorations__petal app-decorations__petal--two"></span>
  <span class="app-decorations__petal app-decorations__petal--three"></span>

  <span class="app-decorations__coin app-decorations__coin--one">RON</span>
  <span class="app-decorations__coin app-decorations__coin--two">₿</span>
</div>