<div class="login-page-container">
    <img src="../../../assets/icons/launch_graph_increase_icon.png" alt="login-page-image">
    <span class="login-page-container__title mega-title">Money Checker</span>
    <span class="login-page-container__paragraph paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
    <div class="login-page-container__bottom">
        <div class="login-page-container__bottom__buttons">
            <app-button-component></app-button-component>
            <app-button-component></app-button-component>
        </div>
        <a href="/" class="login-page-container__bottom__subtext subtext">Forgot password?</a>
    </div>
</div>