@use 'mixins' as mx;
@use 'functions' as fn;

:host {
  display: block;
}

.dashboard-budget-list {
  @include mx.horizontal-scroll;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 128px;
  gap: fn.spacing(3);
  margin: fn.spacing(4) 0 fn.spacing(4);
  padding-bottom: 6px;
}

app-income-card,
app-budget-overview,
app-smart-insight,
app-recent-expenses {
  display: block;
  margin-bottom: fn.spacing(4);
}
