@use "../utils/mixins" as mx;
@use "../themes/dark" as dark;
@use "../themes/light" as light;

* { margin: 0; padding: 0; box-sizing: border-box; }

html,
body {
  @include mx.widthHeightMixin(100%, 100%);
  background:  var(--homepage-background);
}
